[submodule "entry/src/main/cpp/fcitx5"]
	path = entry/src/main/cpp/fcitx5
	url = https://github.com/fcitx/fcitx5
[submodule "entry/src/main/cpp/libime"]
	path = entry/src/main/cpp/libime
	url = https://github.com/fcitx/libime
[submodule "entry/src/main/cpp/fcitx5-chinese-addons"]
	path = entry/src/main/cpp/fcitx5-chinese-addons
	url = https://github.com/fcitx/fcitx5-chinese-addons
[submodule "entry/src/main/cpp/fcitx5-lua"]
	path = entry/src/main/cpp/fcitx5-lua
	url = https://github.com/fcitx/fcitx5-lua
[submodule "entry/src/main/ets/InputMethodExtensionAbility/pages/fcitx5-keyboard-web"]
	path = entry/src/main/fcitx5-keyboard-web
	url = https://github.com/fcitx-contrib/fcitx5-keyboard-web
